
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',serif;
}

body {
    font-family: 'poppins',sans-serif;
    background: linear-gradient(30deg, #00004d, #93a2ab, #93a2ab,#00004d,#93a2ab,#00004d, #93a2ab, #00004d);



}
.header .header-2 .navbar{
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background:linear-gradient(135deg, #00001a, #000000,#00004d, #000000,#000000);


}
.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding: .5rem;
    font-size: .9rem;
    font-family: 'Arial Black',sans-serif;
    text-decoration: none;

}
.header .header-2 .navbar a:hover{
    border-radius: 30px;
    color: white;
    transition: all 0.3s ease;
    background: linear-gradient(to right, #00001a, #ff1ab3,#00004d, #38004d,#ff33bb,#00001a,#ff1ab3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.bottom-navbar{
    text-align:center;
    background:linear-gradient(135deg, #00001a, #000000,#00004d, #000000,#000000);
    position: fixed;
    bottom:0; left: 0;right:0;
    z-index: 1000;
    display: none;
    height: 5.6rem;

}
.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color:#fff;
    text-decoration: none;
}
.bottom-navbar a:hover{
    border-radius: 20px;
    color: white;
    transition: all 0.3s ease;
    background:linear-gradient(135deg, #00001a, #000000,#00004d, #000000,#000000);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    color: #fff;
    text-transform: uppercase;
    animation: fadeInDown 2s ease-in-out;
    text-shadow: 0 1px 10px navy;
}

@keyframes fadeInOnScroll {
    0% {
        opacity: 0;
        transform: translatex(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.main {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    animation: fadeInOnScroll 1s ease-out forwards;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 5px;

}


.book:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.book-info {
   padding: 10px;
    background: linear-gradient(135deg, #00004d,#93a2ab, #93a2ab,#93a2ab, #93a2ab,#00004d);
    color: #000;
    text-align: center;
    margin-top: 8px;

}

.book-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-top:4px ;
    margin-bottom: 8px;
    height: 3rem;
    line-height: 1.1rem;


}

.author {
    font-size: 1rem;

    margin-top: -15px;
    padding-bottom: 10px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.1rem;
}

.price p {
    font-weight: bold;
    font-size: 1.3rem;
    color: #000;
    padding: 0.1rem;
    margin-right: 0.2rem;

}

.add-to-cart {
    background-color: #f7b731;
    color: #fff;
    padding: 5px 5px;
    border-radius: 10px;
    text-decoration: none;
    background-size: 20px 20px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #f39c12;
}

.add-to-cart:active {
    transform: scale(0.98);
}

.book img {

    width: 100%;
    height: 280px;  /* تحديد ارتفاع ثابت للصورة */
    border-radius: 20px;
    transition: opacity 0.3s ease;
}
.featured_actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
   
}
.featured_actions  .s:hover{
   transform:  scale(1.1);
}
.featured_actions  .h:hover{
    transform:  scale(1.1);
}
.featured_actions .e:hover{
    transform:  scale(1.1);
}

.featured_actions button {
    background: none;
    border: none;
    cursor: pointer;
}

.featured_actions img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);

}

.book {
    background:linear-gradient(135deg, #00001a, #000000,#00004d, #000000,#000000);
    border-radius: 10px;
    padding:5px 5px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;


}



.first, .second {
    width: 100%;
    text-align: center;
}
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header .header-1 {
        padding: 2rem;
    }

    section {
        padding: 2rem 1rem;
    }

}
@media (max-width: 768px){
.main h1{
    margin-top: 40px;
    margin-bottom: -70px;
    font-size: 5rem;



}
    .book-info{
       margin: auto  ;


    }
    .books-container{
        margin: 100px;


    }
    .header .header-2{
        display: none;
    }
    .bottom-navbar{
        display: block;
    }
    .bottom-navbar a{
        font-size: 2.5rem;
        margin-top: -8px;
        padding:2.3rem;
        color:#fff;
        text-decoration: none;
    }
}

@media (max-width: 450px) {
    .main h1{
        margin: 30px;

    }
    html {
        font-size: 50%;
    }
}

